<div class="promotion">
        <label for="promo-code">Have A Promo Code?</label>
        <input type="text" [(ngModel)] = "promoCode"/> 
        <button type="button" (click)="applyPromoCode()"></button>
      </div>
  
      <div class="summary">
        <ul>
          <li>Subtotal <span>${{subtotal}}</span></li>
          <li>Tax <span>${{Tax}}</span></li>
          <li *ngIf="Discount>0">Discount <span>${{Discount}}</span></li>
          <li class="total"> <span>${{Total}}</span></li>
        </ul>
      </div>
  
      <div class="checkout">
        <button type="button">Check Out</button>
      </div>